# 
# Ignoring directories
# Both the directory itself and its contents will be ignored.
data_ignore/
# ignore all dir name such
**/data/
**/data_ignore/
**/params/
**/para
**/param/
**/dataset/
**/predictions
**/pred
**/prediction
**/split_dataset
**.zip
